# sqlite database of the utsp server
requestcache.db

# provider image folder
provider/

/.eggs/
*.egg-info/
/.idea/
/utsp.egg-info/
__pycache__/

.pytest_cache

# VS Code and extension folders
.vscode/
.history/
.mypy_cache/

