# sqlite database of the utsp server
requestcache.db

# provider image folder
provider/

# Distribution / packaging
.eggs/
*.egg-info/
build/
dist/
__pycache__/

.pytest_cache

# VS Code and extension folders
.vscode/
.history/
.mypy_cache/

.idea/

